<ul>
  <li *ngFor="let cart of carts">
    <ul>
      <li *ngFor="let product of cart.products">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="product.thumbnail" alt="{{ product.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.price }}$</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </li>
    </ul>
  </li>
</ul>
