<h2>Componente principal</h2>

<a routerLink="">Home</a>
<br>
<a routerLink="first">Primero</a>
<br>
<a routerLink="second">Segundo</a>
<br>
<a routerLink="third">Tercero</a>
<br>
<a routerLink="forth">Cuarto</a>
<br>
<a routerLink="fifth">Quinto</a>
<br>
<a routerLink="eight">Ocho</a>
<br>
<a routerLink="contactoTD">Contacto TD</a>
<br>
<a routerLink="contactoReactive">Contacto Reactive</a>
<br>
<a routerLink="consumirImagen">Consumir imagen de endpoint</a>
<br>
<a routerLink="product">Product</a>
<br>
<a routerLink="cart">Cart</a>
<br>

<p>El titulo del proyecto es {{title}}</p>
<app-hijo [name]="'Álvaro'"></app-hijo>
<hr>
<router-outlet></router-outlet>
